@page "/fetchdata"

@using Facturation.Shared

@inject IBusinessData data

<style>
    table > tfoot > tr {
        background-color: #c9efff;
        border-top: 1px solid #4eacd4 !important;
    }

        table > tfoot > tr > td {
            text-align: right;
            font-weight: bold;
        }
</style>

<h1>Factures</h1>

<table class="table">
    <thead>
        <tr>
            <th>Client</th>
            <th>Numéro</th>
            <th>Date Emission</th>
            <th>Date Réglement</th>
            <th>Montant Dû</th>
            <th>Montant Réglé</th>
            <th>Reste à recevoir</th>
        </tr>
    </thead>
    <tbody>
        @{
            decimal totalDu = 0;
            decimal totalRegle = 0;
            decimal totalReste = 0;
        }
        @foreach (var facture in data.lesFactures)
        {
            <tr>
                <td>
                    @facture.Client
                </td>
                <td>
                    @facture.Numero
                </td>
                <td>
                    @facture.DateEmission?.ToShortDateString()
                </td>
                <td>
                    @facture.DateReglement?.ToShortDateString()
                </td>
                <td style="text-align: right">
                    @facture.MontantDu
                </td>
                <td style="text-align: right">
                    @facture.MontantRegle
                </td>
                <td style="text-align: right">
                    @facture.ResteARecevoir
                </td>
            </tr>

            totalDu += facture.MontantDu;
            totalRegle += facture.MontantRegle;
            totalReste += facture.ResteARecevoir;

        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4"></td>
            <td>
                @totalDu
            </td>
            <td>
                @totalRegle
            </td>
            <td>
                @totalReste
            </td>
        </tr>
    </tfoot>
</table>
